/* size for horizontal theme */
.smw2.smw2-size750 {
  width: 750px !important;
}
.smw2.smw2-size750 .smw2__item {
  width: 375px !important;
}
.smw2.smw2-size750 .smw2__item__info__img {
  width: 85px !important;
}
.smw2.smw2-size750 .smw2__item__info__img img {
  max-width: 75px !important;
}
.smw2.smw2-size750 .smw2__item__info {
  width: 92px;
  float: left;
}
.smw2.smw2-size750 .smw2__item__prices {
  width: 280px;
  float: left;
  padding-top: 9px;
}
.smw2.smw2-size750 .smw2__item__prices__item {
  width: 245px;
}
